target
src/main/UI-Design/dist
src/main/UI-Design/node_modules/
src/main/UI-Design/node_modules/.vite
src/main/UI-Design/node_modules/.vite/deps/_metadata.json
src/main/UI-Design/node_modules/.vite/deps/bootstrap.js
src/main/UI-Design/node_modules/.vite/deps/bootstrap.js.map
