.bg-login-image {
    background-image: url(../img/libro.png) !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.bg-gradient-primary {
    background-color: var(--bs-primary);
}

.form-group.login input,
.btn.login {
    height: 40px;
}

.btn.login {
    width: 100%;
}
