.bg-login-image {
    background-image: url(../assets/img/libro.png) !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.bg-gradient-primary {
    background-color: var(--bs-primary);
}

form.user {
    input {
        padding-left: 20px;
    }

    input,
    button {
        height: 40px;
        border-radius: 50px;
    }

    button {
        width: 100%;
    }
}
