// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";

@import "./login.scss";

:root {
    --width-navbar-left: 275px;
    --width-content-main: calc(100% - var(--width-navbar-left));
    --height-header: 50px;
    --height-footer: 30px;
    --height-main: calc(100% - var(--height-header) - var(--height-footer));
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    width: var(--width-navbar-left);
    height: 100%;
    padding: 0 10px;
    background-color: var(--bs-primary);
    justify-content: space-between;

    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    overflow-y: visible;

    .titulo-nav p {
        height: 50px;
    }

    .menu-principal {
        width: 100%;
        height: 50px;

        border-radius: 5px;
        transition-duration: 0.3s;
    }

    .menu-principal:hover {
        transition-duration: 0.3s;
    }

    #acordionActions {
        .accordion-header {
            button {
                height: 50px;
                padding-left: 15px !important;
                padding-right: 15px !important;

                svg {
                    width: 17px;
                }
            }
        }

        .accordion-body {
            button {
                width: 100%;
                height: 25px;

                color: var(--bs-dark);

                border: 1px solid transparent;
                background-color: transparent;

                svg,
                span {
                    border: 1px solid transparent;
                    transition-duration: 0.3s;
                }

                svg {
                    width: 17px;
                }
            }

            button:hover span {
                border-bottom-color: var(--bs-dark);
                transition-duration: 0.3s;
            }
        }
    }

    #menu-sesion {
        box-shadow: -1px -1px 1rem rgb(0, 0, 0, 0.15) !important;

        button:active {
            color: whitesmoke;
        }
    }
}

div.dataTables_info {
    height: 100% !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}

div.contenedor-principal {
    width: var(--width-content-main);
    height: 100%;

    position: absolute;
    top: 0;
    left: var(--width-navbar-left);

    header {
        height: var(--height-header);
    }

    main {
        height: calc(var(--height-main) - 2px);
    }

    footer {
        height: var(--height-footer);
        box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
    }
}

div.contenedor-contenido {
    height: 100%;
}

.card-tabla {
    height: fit-content !important;
    max-height: 100% !important;
}

.card-tabla-body {
    overflow: hidden;
    overflow-y: visible;
}

.table button {
    height: 100%;
}

.table tr {
    min-height: 50px;
    height: 100%;
    max-height: max-content;
}

.card-body-agregar-unidades {
    overflow: hidden;
    overflow-x: visible;
}

.agregar-unidades-libros input {
    min-width: 50px;
    max-width: 100px;
    width: 100%;
}

.card-modificar-libro,
.card-nuevo-libro,
.card-nuevo-empleado {
    height: fit-content;
    max-height: 100%;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.card-body-modificar-libro,
.card-body-nuevo-libro,
.card-body-nuevo-empleado,
.libros-seleccion {
    overflow: hidden;
    overflow-y: visible;
}

.formulario-modificar-libro {
    width: 100%;
    height: 100%;
    margin: auto;

    input {
        height: 40px;
        border-radius: 50px;
        padding-left: 20px;
    }
}

.botones-mod-libro form {
    width: fit-content;
}

.form-persons,
.form-credentials {
    label {
        input,
        select {
            height: 40px;
            border-radius: 50px;
            padding-left: 20px;
        }

        span {
            font-size: 12px;
            padding-left: 10px;
        }
    }

    div > button {
        width: 100%;
    }
}

#cardDeleteEmploy {
    width: 100%;
    max-width: 900px;
    height: fit-content;
    max-height: 100%;

    margin: 0 auto;

    .card-body {
        overflow: hidden;
        overflow-y: visible;

        .contenido {
            padding-left: 2rem !important;
        }
    }
}

#card-user {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
